.amarillo{
	background-color: #ffdd11;
}
.rojo{
	background-color: #cc0033;
} 
div{
	height: 70%;
	width: 20%;
	font-size: 140%;
	margin: 1%
}
.pdl5{
	padding-left: 2%;
}
.pdt5{
	padding-top: 2%;
}
.may {
	text-transform: uppercase;
}