.amarillo{
	background-color: #ffdd11;
}
.rojo{
	background-color: #cc0033;
} 
div{
	height: 60%;
	width: 50%;
	font-size: 200%;
	margin: 1%;
	margin-top: 10%;
	display: inline;
}
.pdl5{
	padding-left: 2%;
}
.pdt5{
	padding-top: 2%;
}
.may {
	text-transform: uppercase;
}
p{
	display:inline;
}